* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Beautifing the header part of the page */

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: 24px;
}

.header input[type="text"] {
  padding: 6px 10px;
  border-radius: 2px;
  border: none;
}

/* designing the main part of the page */
.products {
  padding: 20px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product {
  display: inline-block;
  margin-top: 5px;
}

.imagePart {
  position: relative;
}

.imagePart img {
  width: 500px;
  height: 300px;

  border-radius: 20px;
}

.imgBottom {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 4px;
  left: 0;
  width: 96%;
  height: 90px;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}

.imgTagRight {
  margin-top: 16px;
  margin-right: 10px;
  float: right;
}

.imgTagLeft {
  float: left;
}

.title {
  color: #f9f9f9;
  font-size: 30px;
  margin: 10px 5px 0;
  opacity: 1;
}

.realese_data {
  margin-left: 10px;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.6);
}

.epiCount {
  margin-left: 10px;
  font-size: 13px;
  color: rgba(255, 255, 255, 1);
}

.bottom {
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: relative;
  bottom: -100px;
}

.price {
  font-size: 25px;
  margin-right: 10px;
  color: #27ff04;
}

button {
  padding: 7px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 11px;
  margin-top: 14px;
}

/* @media screen and (max-width: 768px) {
  .header {
    flex-direction: column;

  }

  .header input[type="text"] {
    margin-top: 10px;
  }

  .product {
    flex-direction: column;
    align-items: flex-start;
  }

  .imagePart img {
    width: 100%;
    height: auto;
  }
} */
