* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Nav bar designs */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 97%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  width: 200px;
}

.gallery ul {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
}

.gallery ul li {
  display: flex;
  align-items: flex-end;
}

.gallery ul li a {
  position: relative;
  text-decoration: none;
  color: #f9f9f9;
  font-size: 20px;
  font-weight: 600;
}

.gallery ul li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #fff;
  transition: width 0.3s;
}

.gallery ul li a:hover:not(.active):after {
  width: 100%;
}

.gallery ul li a.active {
  font-size: 30px;
  border: 2px solid #f9f9f9;
  padding: 2px 5px;
}

.rest ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.rest ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #f9f9f9;
  transition: all 0.3s ease;
  padding: 5px;
  text-align: center;
}

.rest ul li a:hover {
  position: relative;
  font-size: 25px;
  color: #f0f0f0;
  background-color: #4caf50;
}

/* main part of the page */
main {
  margin-bottom: 0;
  padding: 0;
  background-color: black;
}

.top {
  width: 99vw;
  height: 100vh;
}

.main-top__background {
  width: 100%;
  height: 100%;
  background-image: url(img/Background.jpg);
  background-size: cover;
  background-position: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("img/Background.jpg");
  background-blend-mode: darken;
  position: absolute;
}

.main-top__slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 150px;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 1;
}

.main-top__slider img {
  border-radius: 40px;
  filter: brightness(90%);
}

.container {
  position: relative;
  bottom: 250px;
  width: 1280px;
  height: 250px;
  background-color: rgba(10, 35, 40, 0.5);
  z-index: 2;
  border-radius: 0 0 40px 40px;
}

.container > p {
  color: rgb(187, 204, 223);
  padding: 10px;
  padding-left: 20px;
  padding-top: 20px;
  width: 60%;
}

.container h3 {
  color: #f0f0f0;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 70px;
}

.titleandrating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleandrating p {
  padding-top: 10px;
  padding-right: 70px;
  font-size: 40px;
  font-weight: bolder;
  color: #4caf50;
}

.main-top__bar {
  position: absolute;
  display: flex;
  top: 93%;
  left: 24%;
  gap: 10px;
  z-index: 2;
}

.bar {
  width: 75px;
  height: 5px;
  background-color: rgb(136, 133, 133);
}

.active-bar {
  background-color: rgb(165, 164, 164);
}

.bottom {
  background-color: #333;
}

/* The tiles of the for gallery items */
.bottom {
  background-color: #111;
  width: 99vw;
  height: 50vh;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: start;
}
.tiles {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tile {
  background-color: white;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  cursor: pointer;
}

.movie {
  background-image: url("../src/HomePage/FilmHome.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.anime {
  background-image: url("../src/HomePage/Anime.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tv {
  background-image: url("../src/HomePage/TvShow.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cartoon {
  background-image: url("../src/HomePage/Cartoon.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.shown {
  position: relative;
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.5s, top 0.5s;

}

.shown h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  padding: 5px 20px;
  background-color: rgba(220, 230, 210, 0.5);
  text-align: center;
  border-radius: 5px;
  transition: all 0.5s;
  /* change this */
  /* display: none; */
}

.hidden {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 10px 25px;
  background-color: rgb(25, 25, 167);
  border-radius: 10px;
  text-align: center;
  color: rgb(170, 167, 167);
  font-weight: bold;
  transition: all 0.5s;
  /* change this */
  opacity: 0;
}


/*  Designing the footer */
footer {
  width: 96vw;
  overflow-x: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  font-size: 18px;
  color: white;
}

.editor {
  background-color: #4caf50;
  padding: 10px 20px;
  border-radius: 40px;
  transition: all 0.3s;
}

.editor:hover {
  transform: scale(1.2);
}
